
.nav {
    display: flex;
}

.nav > :first-child {
    margin-right: auto;
}

.nav > :nth-child(1),
.nav > :nth-child(2) {
    align-self: center;
}

.menu {
    padding: 2rem;
    margin-top: 3rem;
    position: absolute;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: all 300ms ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 50vw;

    background-color: white;
}

.visible {
    visibility: visible;
    transform: translateX(0px);
}

.hidden {
    visibility: hidden;
    transform: translateX(100%);
}

.button {
    background-color: transparent;
    border: none;
}

.activeButton {
    background-color: rgb(230, 230, 230);
}

.menuButton {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 300ms ease;
}
